@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,400;0,8..144,700;1,8..144,400&family=Roboto:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
  }

.fantastika-header {
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #252525;
}

.fantastika-header img {
    height:4vh;
}

.fantastika-header h3 {
    color: white;
    font-size: 18px;
    margin-left: 0.5rem;
}

nav {
    width: 80%;
  }

ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

li {
    list-style: none;
}

li img {
    height: 3vh;
    margin-left: 1rem;
}

.containerBox1 {
    height: 120vh;
    width: 100%; 
    background-image: url('./images/page1.png');
    background-size: cover; 
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.containerBox1 h2 {
    width: 53%;
    color: #ffffff;
    font-family: 'Roboto Serif', serif;
    font-weight: 800;
    font-size: 100px;
    text-align: center;
    margin-bottom: 5rem;
}

.containerBox1 img {
    height: 20vh;
    margin-bottom: 17rem;
}

.containerBox2 {
    height: 120vh;
    width: 100%; 
    background-image: url('./images/page2.png');
    background-size: cover; 
    background-repeat: no-repeat;
    display: flex;
    align-items:flex-start;
    justify-content: center;
    flex-direction: column;
}

.containerBox2 h2 {
    color: #3A342F;
    font-family: 'Roboto Serif', serif;
    font-weight: 800;
    font-size: 70px;
    margin-bottom: 2rem;
    margin-left: 20rem;
}

.containerBox2 p {
    width: 25%;
    color: #3A342F;
    font-size: 30px;
    margin-bottom: 4rem;
    margin-left: 20rem;

}

.containerBox2 button {
    border: none; 
    outline: none; 
    color: #fff;
    background-color: #3A342F;
    font-family:'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 600;
    width: 15vw;
    height: 10vh;
    border-radius: 44px;
    margin-left: 20rem;
}

.containerBox3 {
    height: 120vh;
    width: 100%; 
    background-image: url('./images/page3.png');
    background-size: cover; 
    background-repeat: no-repeat;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
}

.containerBox3 h2 {
    color: #ffffff;
    width: 10%;
    font-family: 'Roboto Serif', serif;
    font-weight: 800;
    font-size: 70px;
    margin-bottom: 2rem;
    margin-left: 20rem;
}

.containerBox3 p {
    width: 25%;
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 3rem;
    margin-left: 37rem;
}

.containerBox3 button {
    border: none; 
    outline: none; 
    color: #000000;
    background-color: #ffffff;
    font-family:'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 600;
    width: 15vw;
    height: 10vh;
    border-radius: 44px;
    margin-left: 26rem;
}

.containerBox4 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 20vh;
}

.containerBox4 p {
    color: #FD6A9A;
    font-size: 24px;
    font-family: 'Roboto Serif', serif;
    font-style: italic;
}

.containerBox4 img {
    height: 4vh;
}

footer {
    width: 100%;
    height: 40vh;
    background-color: #EB4A7B;
    color: #ffffff;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 24px;
    font-family: 'Roboto Serif', serif;
    font-weight: 400;
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin-top: 7rem;
    margin-bottom: 2rem;
}

.lists {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
}

.lists ul {
    flex-direction: column;
}

.lists li {
    font-size: 15px;
    margin: 5px 0;
    width: 100%;
}

/*MOBILE*/

@media (max-width: 600px) {
    header .social-media .desktop-only {
      display: none;
    }
  
    header {
      height: 10vh;
      background-color: #252525;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
  
    .fantastika-header {
      width: 50%;
      height: 70%;
      display: flex;
      align-items: center;
      margin-left: 1rem;
    }
  
    .fantastika-header img {
      height: 5vh;
    }
  
    .fantastika-header h3 {
      margin-left: 1rem;
      color: #ffffff;
      font-size: 1.3rem;
      font-family: "Roboto Serif", serif;
    }
  
    nav {
      width: 30%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  
    li img {
      height: 4vh;
    }
  
    .containerBox1 {
      display: flex;
      align-items: center;
      flex-direction: column;
      height: 100vh;
      background-image: url(./images/dog1mobile.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  
    .containerBox1 h1 {
      text-align: center;
      color: #ffffff;
      font-family: "Roboto Serif", serif;
      font-weight: 400;
      font-size: 2.2rem;
      margin-top: 5rem;
    }
  
    .containerBox1 img {
      height: 15vh;
      margin-top: 3rem;
    }
  
    .containerBox2 {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      height: 100vh;
      background-image: url(./images/dog2mobile.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  
    .containerBox2 h2 {
      text-align: center;
      color: #3a342f;
      font-family: "Roboto Serif", serif;
      font-weight: 400;
      font-size: 1.7rem;
      margin-top: 5rem;
      margin-left: 2rem;
    }
  
    .containerBox2 p {
      color: #3a342f;
      font-family: "Roboto", sans-serif;
      margin-top: 1rem;
      margin-left: 2rem;
      width: 70%;
    }
  
    .containerBox2 button {
      background-color: #3a342f;
      color: #ffffff;
      font-weight: 800;
      border: none;
      padding: 15px 25px;
      border-radius: 50px;
      margin-top: 3rem;
      margin-left: 2rem;
    }
  
    .containerBox3 {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      height: 100vh;
      background-image: url(./images/dog3mobile.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  
    .containerBox3 h2 {
      text-align: center;
      color: #ffffff;
      font-family: "Roboto Serif", serif;
      font-weight: 400;
      font-size: 1.7rem;
      margin-top: 5rem;
      margin-left: 2rem;
    }
  
    .containerBox3 p {
      color: #ffffff;
      font-family: "Roboto", sans-serif;
      margin-top: 1rem;
      margin-left: 2rem;
      width: 70%;
    }
  
    .containerBox3 button {
      background-color: #ffffff;
      color: #3a342f;
      font-weight: 800;
      border: none;
      padding: 15px 25px;
      border-radius: 50px;
      margin-top: 3rem;
      margin-left: 2rem;
    }
  
    .containerBox4 {
      height: 15vh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  
    .containerBox4 h4 {
      font-family: "Roboto Serif", serif;
      font-style: italic;
      color: #fd6a9a;
      margin-bottom: 1rem;
    }
  
    .images-container {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
  
    .containerBox4 img {
      height: 2vh;
    }
  
    footer {
      background-color: #eb4a7b;
      color: #ffffff;
    }
  
    .fantastika-footer {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .fantastika-footer img {
      height: 5vh;
      margin-top: 1rem;
    }
  
    .fantastika-footer h3 {
      margin-left: 1rem;
      margin-top: 1rem;
      color: #ffffff;
      font-size: 1.3rem;
      font-family: "Roboto Serif", serif;
    }
  
    .social-media-footer {
      width: 100%;
      height: 10vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .social-media-footer li {
      display: inline;
      padding: 0.5rem;
    }
  
    .social-media-footer img {
      height: 3vh;
    }
  
    .info nav {
      width: 100%;
      height: 40vh;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column;
    }
  
    .info h3 {
      font-family: "Roboto Serif", serif;
      font-size: 15px;
    }
  
    .info ul {
      margin-bottom: 2rem;
    }
  
    .info li {
      font-size: 13px;
      font-family: "Roboto", serif;
    }
    

}